# Auto detect text files and perform LF normalization
*          text=auto

# Documents
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.mustache text
*.csv      text eol=crlf
*.txt      text
*.sql      text

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      text

# Scripts
*.bash     text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf

# Serialisation
*.json     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.gz       binary
*.tar      binary
*.zip      binary

# Text files where line endings should be preserved
*.patch    -text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

# Treat all Go files in this repository as binary, with no git magic updating
# line endings. Windows users contributing to Go will need to use a
# modern version of git and editors capable of LF line endings.
*.go -text diff=golang

# Apply override to all files in the directory
*.md linguist-detectable
